/* li{
  display: inline;
} */


/* li{
  display: none;
  visibility: hidden;
} */


/* .static-property{
  position: static;
  border: 1px;
  margin-left: 300px;
} */


/* .static-relatively{
  position: relative;
} */





h1{
  color: red;
}
h1{
  color: red;
}
h1{
  color: red;
}
h1{
  color: red;
}